* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #333;
}

main {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.ficha {
    display: flex;
    justify-content: space-between;
}

.perfil {
    width: 30%;
    text-align: center;
}

.icone-perfil {
    width: 200px;
    height: 300px;
    border-radius: 5%;
    margin-bottom: 10px;
    border: 2px solid #ccc;
}

textarea {
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.atributos {
    width: 65%;
}

.atributos h2 {
    margin-bottom: 20px;
    color: #555;
}

.grupo-atributos-container {
    display: flex;
    flex-wrap: wrap; 
    justify-content: space-between;
    gap: 20px;
}

.grupo-atributos {
    flex: 1; 
    margin-bottom: 20px;
}

.grupo-atributos h3 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #333;
}

.campo {
    margin-bottom: 15px;
}

.campo label {
    margin-bottom: 5px;
    font-weight: bold;
}

.campo input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
}

button {
    padding: 10px 15px;
    background-color: #5cb85c;
    color: white;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #4cae4c;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #777;
}
