* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #414141;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 20px;
}

h1 {
    font-size: 2.5em;
    color: #e9e9e9;
}

main {
    max-width: 1000px;
    margin: 0 auto;
    background-color: #2e2e2e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px #0000001a;
}

.ficha {
    display: flex;
    justify-content: space-between;
}

.perfil {
    width: 30%;
    text-align: center;
}

.icone-perfil {
    width: 200px;
    height: 300px;
    border-radius: 5%;
    margin-bottom: 10px;
    border: 2px solid #ccc;
}

.botao-upload {
    display: inline-block;
    padding: 10px 10px;
    background-color: #8b4caf;
    color: #efe0f8;
    border-radius: 10%;
    cursor: pointer;
    font-size: 16px;
    text-align: center;
    transition: background-color 0.3s ease;
    border: none;
}

.botao-upload:hover {
    background-color: #703d8d;
}

.icone-perfil {
    display: block;
    margin-bottom: 10px;
    width: 250px;
    height: 300px;
    object-fit: cover;
    border-radius: 5px;
    border: 2px solid #1d1d1d;
}

::placeholder {
    color: #e9e9e9;
}

textarea {
    margin-top: 10px;
    width: 100%;
    padding: 10px;
    font-size: 1em;
    border: 1px solid #1d1d1d;
    background-color: #5e5e5e;
    color: #e9e9e9;
    border-radius: 4px;
}

.conteudo-ficha {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    
}

.atributos {
    flex: 2;
    padding: 20px;
    background-color: #1d1d1d;
    color: #e9e9e9;
    border-radius: 8px;
}

.equipamentos {
    flex: 1;
    padding: 20px;
    background-color: #070707;
    border-radius: 8px;
}

.atributos h2,
.equipamentos h2 {
    margin-bottom: 15px;
    color: #a3a3a3;
}

.grupo-atributos-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

.campo {
    margin-bottom: 15px;
}

.campo label {
    font-weight: bold;
}

.campo input {
    padding: 10px;
    font-size: 1em;
    border: 1px solid #000000;
    background-color: #5e5e5e;
    color: #e9e9e9;
    border-radius: 4px;
    width: 100%;
}

.grupo-atributos {
    flex: 1;
    margin-bottom: 20px;
}

.grupo-campos-linha {
    display: flex;
    gap: 30px;
    margin-bottom: 20px;
}

.campo-classe {
    flex: 2;
}

.campo-raca {
    flex: 1;
}

input[type="submit"] {
    padding: 10px 15px;
    background-color: #8b4caf;
    color: #efe0f8;
    font-size: 1.1em;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #703d8d;
}

footer {
    text-align: center;
    margin-top: 20px;
    color: #e9e9e9;
}
